:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color:#333;
    --primary-color:#EE4b2b;
    --border-color:#dbdbdb;
    --navbar-height:35px;
    --header-height:120px;
    --header-with_search-height:calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6 rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_full_width{
    width: 100%;

}
.grid_row{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;

}
.grid_colum-1{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;

}
.grid_colum-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
/*animation*/
@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}
/* buttonsize */
.btn{
    min-width:142px;
    height: 40px;
    border: none;
    text-decoration: none;
    border-radius: 3px;
    font-size: 1.5rem;
    align-items: center;
    padding: 0;
    outline:#4f5586;
    cursor: pointer;
    color: var(--text-color);
}
.btn.btn-primary{
    background-color: var(--primary-color);
    margin-left: 20px;
    color: var(--white-color);
    
}
/* Modal */
.modal{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    animation: fadeIn linear 0.3s;
}
.modal_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.3);
}
.modal_body{
    --growth-from:0.7;
    --growth-to:1;
    margin: auto;
    /* width: 400px;
    height: 400px; */
    background-color: rgb(224, 236, 233);
    z-index: 1;
    border-radius: 2px;
    animation: growth liner 0.3s;
}

/* container */
.container{
    background-color: #f5f5f5;
}
.category{
    background-color: var(--white-color);
    border-radius: 2px;
}
.category_heading-icon{
    position: relative;
    margin-right: 4px;
}
.category_heading{
    color: var(--text-color);
    font-size: 2rem;
    padding: 10px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.category_list{
    padding:0 0 8px 0;
    list-style: none;
}
.category_item{
    text-decoration: none;
}
.category_item-active{
 
}
.category_item-link{
    text-decoration: none;
    position: relative;
    color: var(--text-color);
    font-size: 1.6rem;
    padding: 10px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}
.category_item-link:hover{
    color: var(--primary-color);
    right: -4px;
}

/* home filter */

.home_filter-label{
    font-size: 2rem;
    width: 100%;
    padding: 0 50px;
}
.home_filter-btn{
    margin-right: 35px;
    background-color: rgb(201, 229, 229);
}
.home_filter-btn:hover{
    background-color:#2cad42;
}
